.carousel {
    margin: 100px auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.track {
    display: flex;
    width: max-content;
    animation: scroll 19s linear infinite;
}

.group {
    display: flex;
    gap: 1em;
    padding-right: 1em;
}

.card {
    flex: 0 0 8em;
    height: 7em;
    background: cornflowerblue;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}